.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bill-id {
  font-weight: bold;
}

ul {
  list-style: none; 
}

li {
  padding: 3px;
}

.bill-details {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 0px;  
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.bill-detail-title {
  font-weight: bold;
}

footer {
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
